__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache/
.coverage
dist/
build/
*.egg-info/

.venv/
venv/
env/

# configs locais (não versionar)
config/config.yaml
config/logging.yaml

# staging local
.staging/
bundle_repo.txt
